.contact {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #dadada;
  border-radius: 12px;
  height: 80px;
}

.contact:hover {
  background-color: #d3d3d3;
}

.deleteButton {
  border: none;
  background-color: #f70d0d;
  height: 35px;
  width: 70px;
  border-radius: 6px;
}

.deleteButton:hover {
  background-color: #e00d0d;
}

.data {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
